html,body { 
  	margin:0;
  	overflow-x: hidden;
}

canvas {
	display:block;
}

#profile {
	margin: 20px;
	position: absolute;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
}

#skills-section {
	min-height: 50vh;
	height: auto;
	padding: 20px auto;
	position: absolute;
}

#contact-section {
	min-height: 50vh;
	margin: 20px;
	width: 100%;
	background: #000000;
	font-size: 16px;
	position: absolute;
}

#particles-js {
	height: 50vh;
  	background:#000000
}

.profile-pic {
	display: block;
	max-width: 150px;
	border-radius: 100%;
	margin:0px auto;
}

.skills-title {
	padding: 20px;
	text-align: center;
	height: 40px;
}

.skills-list {
	width: 100%;
	padding: 30px;
	height: 100px;
}

.skill {
	float: left;
	margin: 10px 20px;
}

.skill .label {
	display: block;
	text-align: center;
}

span {
	font-size: 4em;
}