html,body { 
  	margin:0;
}

canvas {
	display:block;
}
	
#header {

}

#skills-section {
	height: 50vh;
	padding: 20px auto;
}

#particles-js {
	height: 100vh;
  	background:#000000
}

#profile {
	margin: 20px;
	position: absolute;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	color: #ffffff;
}

.profile-pic {
	display: block;
	max-width: 150px;
	border-radius: 100%;
	margin:0px auto;
}

.skills-title {
	padding: 20px;
	text-align: center;
}

.skills-list {
	width: 100%;
	padding: 30px;
	height: 100px;
}

.skill {
	background-image: url(../img/circle-icons.jpg);
	height: 80px;
	width: 70px;
	float: left;
	margin: 0 20px;
}

span {
	font-size: 4em;
}